<!DOCTYPE html>
<html ng-app="toyStore" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as store">
  <section ng-repeat="toy in store.toys">
    <h3>
      {{ toy.name }}
      <em>{{ toy.price | currency }}</em>
    </h3>
    <div>
      <img ng-src="{{ image }}" alt="{{toy.name}}"ng-repeat="image in toy.images" />
    </div>
    <section class="tab" ng-controller="TabController as tab">
      <ul>
        <li ng-class="{ selected:tab.isSet(1) }">
          <a href="#" ng-click="tab.setTab(1)">Description</a></li>
        <li ng-class="{ selected:tab.isSet(2) }">
          <a href="#" ng-click="tab.setTab(2)">Reviews</a></li>
      </ul>
      <div ng-show="tab.isSet(1)">
        <h4>Description</h4>
        <blockquote></blockquote>
      </div>
      <div ng-show="tab.isSet(2)">
        <h4>Reviews</h4>
        <blockquote></blockquote>
      </div>
    </section>
  </section>
</body>
</html>
