<!DOCTYPE html>
<html ng-app="liveForm" lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title>Document</title>
</head>
<body>
    <form action="/test" method="POST">
        <fieldset>
            <label for="rating">Rating</label>
            <select ng-model="review.stars" name="select" id="rating">
                <option value="5">5 stars</option>
                <option value="4">4 stars</option>
                <option value="3">3 stars</option>
                <option value="2">2 stars</option>
                <option value="1">1 stars</option>
            </select>
        </fieldset>
        <fieldset>
            <label for="body">Description</label><br>
            <textarea ng-model="review.body" name="body" cols="30" rows="10" id="body"></textarea>
        </fieldset>
        <fieldset>
            <label for="firstName">First Name</label>
            <input ng-model="review.firstName" type="text" id="firstName">
            <label for="lastName">Last Name</label>
            <input ng-model="review.lastName" type="text" id="lastName">
        </fieldset>
    </form>
</body>
</html>